* {
    box-sizing: border-box;
}

:root {
    --button-color: #007bff;
    --input-color: #70767a;
    --border-color: #DADCE0;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

.h-100vh {
    height: 100vh;
}

.w-100vw {
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.form {
    width: 400px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.formBody {
    height: 48px;

    position: relative;
}

.formInput {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;

    outline: none;

    z-index: 1;

    transition: all .3s ease;
}

.formInput:focus{
    border: 2px solid var(--button-color);
}

.formInput:focus+.formLabel {
    color: var(--button-color);
    font-size: var(--small-font-size);

    top: -.5rem;
    left: .8rem;

    z-index: 5;
}

.formInput:not(:placeholder-shown).formInput:not(:focus)+.formLabel {
    color: var(--button-color);
    font-size: var(--small-font-size);

    top: -.5rem;
    left: .8rem;

    z-index: 5;
}


.formLabel {
    top: .7rem;
    left: .5rem;

    padding: 0 .25rem;
    background: #fff;

    font-size: var(--normal-font-size);
    color: var(--input-color);

    transition: all .3s ease;
}

.ipnutPH {
    top: .7rem;
    left: 1rem;

    padding: 0 .25rem;
    background: #fff;

    font-size: var(--normal-font-size);
    color: var(--input-color);

    opacity: 0;

    transition: all .1s ease;
}

.formInput:focus~.ipnutPH {
    opacity: 1;
}

.formInput:not(:placeholder-shown)~.ipnutPH {
    opacity: 0;
}