* {
    box-sizing: border-box;
}

:root {
    --button-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;

    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.animation-form {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form-title {
    margin-bottom: 3rem;
}

.form-div {
    height: 48px;
    margin-bottom: 1.5rem;

    position: relative;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: none;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;

    font-size: var(--normal-font-size);

    outline: none;

    z-index: 1;

    transition: all .3s ease;
}

.form-input:focus{
    border: 1.8px solid var(--button-color);
}

.form-input:focus+.form-label {
    color: var(--button-color);
    font-size: var(--small-font-size);

    top: -.5rem;
    left: .8rem;

    z-index: 2;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+.form-label {
    color: var(--button-color);
    font-size: var(--small-font-size);

    top: -.5rem;
    left: .8rem;

    z-index: 2;
}


.form-label {
    position: absolute;
    left: 1rem;
    top: 1rem;

    padding: 0 .25rem;
    background: #fff;

    font-size: var(--normal-font-size);
    color: var(--input-color);

    transition: all .3s ease;
}

.form-button {
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;

    color: #fff;
    font-size: var(--normal-font-size);
    border: none;
    border-radius: .5rem;
    background: var(--button-color);

    transition: all .3s ease;

    cursor: pointer;
}

.form-button:hover {
    box-shadow: 0 5px 36px rgba(0, 0, 0, 0.2);
}